<h1>Listing product_living</h1>

<table>
  <tr>
    <th>Productno</th>
    <th>Product</th>
    <th>Sku</th>
    <th>Oem</th>
    <th>Supplier</th>
    <th>Producttype</th>
    <th>Price</th>
    <th>Priceretail</th>
    <th>Pricewithoutshipping</th>
    <th>Cost</th>
    <th>Map</th>
    <th>Taxable</th>
    <th>Surcharge</th>
    <th>Surchargetitle</th>
    <th>Shipping</th>
    <th>Shipping2</th>
    <th>Shippingexemptind</th>
    <th>Saleexclude</th>
    <th>Quantity</th>
    <th>Unit</th>
    <th>Itemperpackage</th>
    <th>Threshold</th>
    <th>Weight</th>
    <th>Length</th>
    <th>Height</th>
    <th>Width</th>
    <th>Itemlength</th>
    <th>Itemheight</th>
    <th>Itemwidth</th>
    <th>Itemweight</th>
    <th>Containercode</th>
    <th>Brief</th>
    <th>Description</th>
    <th>Subscription</th>
    <th>Template</th>
    <th>Listingtemplate</th>
    <th>Highlight1</th>
    <th>Highlight2</th>
    <th>Highlight3</th>
    <th>Highlight4</th>
    <th>Highlight5</th>
    <th>Highlight6</th>
    <th>Highlight7</th>
    <th>Highlight8</th>
    <th>Active</th>
    <th>Authreq</th>
    <th>Isbn</th>
    <th>Brand</th>
    <th>Mpn</th>
    <th>Upc</th>
    <th>Ean</th>
    <th>Ebayproductid</th>
    <th>Productreferenceid</th>
    <th>Condition</th>
    <th>Media</th>
    <th>Naturalsearchkeywords</th>
    <th>Naturalsearchdescription</th>
    <th>Category</th>
    <th>Category2</th>
    <th>Category3</th>
    <th>Keywords</th>
    <th>Googlecategory</th>
    <th>Googleagegroup</th>
    <th>Googlegender</th>
    <th>Attribute1sharedname</th>
    <th>Attribute1label</th>
    <th>Attribute1values</th>
    <th>Attribute1displaytype</th>
    <th>Attribute2sharedname</th>
    <th>Attribute2label</th>
    <th>Attribute2values</th>
    <th>Attribute2displaytype</th>
    <th>Attribute3sharedname</th>
    <th>Attribute3label</th>
    <th>Attribute3values</th>
    <th>Attribute3displaytype</th>
    <th>Attribute4sharedname</th>
    <th>Attribute4label</th>
    <th>Attribute4values</th>
    <th>Attribute4displaytype</th>
    <th>Attribute5sharedname</th>
    <th>Attribute5label</th>
    <th>Attribute5values</th>
    <th>Attribute5displaytype</th>
    <th>Attribute6sharedname</th>
    <th>Attribute6label</th>
    <th>Attribute6values</th>
    <th>Attribute6displaytype</th>
    <th>Attribute7sharedname</th>
    <th>Attribute7label</th>
    <th>Attribute7values</th>
    <th>Attribute7displaytype</th>
    <th>Attribute8sharedname</th>
    <th>Attribute8label</th>
    <th>Attribute8values</th>
    <th>Attribute8displaytype</th>
    <th>Attribute9sharedname</th>
    <th>Attribute9label</th>
    <th>Attribute9values</th>
    <th>Attribute9displaytype</th>
    <th>Attribute10label</th>
    <th>Attribute10values</th>
    <th>Attribute10displaytype</th>
    <th>Mediaitem1</th>
    <th>Mediaitem2</th>
    <th>Mediaitem3</th>
    <th>Mediaitem4</th>
    <th>Mediaitem5</th>
    <th>Mediaitem6</th>
    <th>Mediaitem7</th>
    <th>Mediaitem8</th>
    <th>Mediaitem9</th>
    <th>Mediaitem10</th>
    <th>Mediaitem11</th>
    <th>Mediaitem12</th>
    <th>Mediaitem13</th>
    <th>Mediaitem14</th>
    <th>Mediaitem15</th>
    <th>Mediaitem16</th>
    <th>Thumb number</th>
    <th>Post status</th>
    <th>Createdtime</th>
    <th>Updatedtime</th>
    <th>Puplictime</th>
    <th>Drafts</th>
    <th>Starttime</th>
    <th>Endtime</th>
    <th>Containerload</th>
    <th>Estimatedarrival</th>
    <th>Daysreturnpolicy</th>
    <th>Comparesite1</th>
    <th>Comparevalue1</th>
    <th>Comparelink1</th>
    <th>Comparesite2</th>
    <th>Comparevalue2</th>
    <th>Comparelink2</th>
    <th>Comparesite3</th>
    <th>Comparevalue3</th>
    <th>Comparelink3</th>
    <th>Shipfrom</th>
    <th>Shipwithin</th>
    <th>Optionname1</th>
    <th>Optionvalues1</th>
    <th>Optionname2</th>
    <th>Optionvalues2</th>
    <th>Optionname3</th>
    <th>Optionvalues3</th>
    <th>Viewcatalog</th>
    <th>Insaleevent</th>
    <th>Note</th>
    <th>Customsize</th>
    <th>Optionimages</th>
    <th>Flashsale</th>
    <th>Is iphone5 case</th>
    <th>Metadescription</th>
    <th>Seourl</th>
    <th>Titleseo</th>
    <th>Shipexpress</th>
    <th>Isdeal</th>
    <th>State</th>
    <th>Estimatedarrival2</th>
    <th>Specificationstitle</th>
    <th>Shippingtitle</th>
    <th>Isfreight</th>
    <th>Lenght1</th>
    <th>Lenght2</th>
    <th>Lenght3</th>
    <th>Lenght4</th>
    <th>Lenght5</th>
    <th>Height1</th>
    <th>Height2</th>
    <th>Height3</th>
    <th>Height4</th>
    <th>Height5</th>
    <th>Width1</th>
    <th>Width2</th>
    <th>Width3</th>
    <th>Width4</th>
    <th>Width5</th>
    <th>Weight1</th>
    <th>Weight2</th>
    <th>Weight3</th>
    <th>Weight4</th>
    <th>Weight5</th>
    <th>Sort</th>
    <th>Visible</th>
    <th>Hightline</th>
    <th>Warranty</th>
    <th>Tag color</th>
    <th>Shipingfedex</th>
    <th>Optioncost</th>
    <th>Dropship</th>
    <th>Export dropship</th>
    <th>Internetdistribution</th>
    <th>Dropshipfree</th>
    <th>Fileupload</th>
    <th>Submitted product</th>
    <th>Export beba</th>
    <th>Export banbeba</th>
    <th>Categorysears</th>
    <th>Request user</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_living.each do |product_living| %>
  <tr>
    <td><%= product_living.ProductNo %></td>
    <td><%= product_living.Product %></td>
    <td><%= product_living.SKU %></td>
    <td><%= product_living.Oem %></td>
    <td><%= product_living.Supplier %></td>
    <td><%= product_living.ProductType %></td>
    <td><%= product_living.Price %></td>
    <td><%= product_living.PriceRetail %></td>
    <td><%= product_living.PriceWithoutShipping %></td>
    <td><%= product_living.Cost %></td>
    <td><%= product_living.Map %></td>
    <td><%= product_living.Taxable %></td>
    <td><%= product_living.Surcharge %></td>
    <td><%= product_living.SurchargeTitle %></td>
    <td><%= product_living.Shipping %></td>
    <td><%= product_living.Shipping2 %></td>
    <td><%= product_living.ShippingExemptInd %></td>
    <td><%= product_living.SaleExclude %></td>
    <td><%= product_living.Quantity %></td>
    <td><%= product_living.Unit %></td>
    <td><%= product_living.ItemPerPackage %></td>
    <td><%= product_living.Threshold %></td>
    <td><%= product_living.Weight %></td>
    <td><%= product_living.Length %></td>
    <td><%= product_living.Height %></td>
    <td><%= product_living.Width %></td>
    <td><%= product_living.ItemLength %></td>
    <td><%= product_living.ItemHeight %></td>
    <td><%= product_living.ItemWidth %></td>
    <td><%= product_living.ItemWeight %></td>
    <td><%= product_living.ContainerCode %></td>
    <td><%= product_living.Brief %></td>
    <td><%= product_living.Description %></td>
    <td><%= product_living.Subscription %></td>
    <td><%= product_living.Template %></td>
    <td><%= product_living.ListingTemplate %></td>
    <td><%= product_living.HighLight1 %></td>
    <td><%= product_living.HighLight2 %></td>
    <td><%= product_living.HighLight3 %></td>
    <td><%= product_living.HighLight4 %></td>
    <td><%= product_living.HighLight5 %></td>
    <td><%= product_living.HighLight6 %></td>
    <td><%= product_living.HighLight7 %></td>
    <td><%= product_living.HighLight8 %></td>
    <td><%= product_living.Active %></td>
    <td><%= product_living.AuthReq %></td>
    <td><%= product_living.Isbn %></td>
    <td><%= product_living.Brand %></td>
    <td><%= product_living.Mpn %></td>
    <td><%= product_living.Upc %></td>
    <td><%= product_living.Ean %></td>
    <td><%= product_living.eBayProductId %></td>
    <td><%= product_living.ProductReferenceId %></td>
    <td><%= product_living.Condition %></td>
    <td><%= product_living.Media %></td>
    <td><%= product_living.NaturalSearchKeywords %></td>
    <td><%= product_living.NaturalSearchDescription %></td>
    <td><%= product_living.Category %></td>
    <td><%= product_living.Category2 %></td>
    <td><%= product_living.Category3 %></td>
    <td><%= product_living.Keywords %></td>
    <td><%= product_living.GoogleCategory %></td>
    <td><%= product_living.GoogleAgeGroup %></td>
    <td><%= product_living.GoogleGender %></td>
    <td><%= product_living.Attribute1SharedName %></td>
    <td><%= product_living.Attribute1Label %></td>
    <td><%= product_living.Attribute1Values %></td>
    <td><%= product_living.Attribute1DisplayType %></td>
    <td><%= product_living.Attribute2SharedName %></td>
    <td><%= product_living.Attribute2Label %></td>
    <td><%= product_living.Attribute2Values %></td>
    <td><%= product_living.Attribute2DisplayType %></td>
    <td><%= product_living.Attribute3SharedName %></td>
    <td><%= product_living.Attribute3Label %></td>
    <td><%= product_living.Attribute3Values %></td>
    <td><%= product_living.Attribute3DisplayType %></td>
    <td><%= product_living.Attribute4SharedName %></td>
    <td><%= product_living.Attribute4Label %></td>
    <td><%= product_living.Attribute4Values %></td>
    <td><%= product_living.Attribute4DisplayType %></td>
    <td><%= product_living.Attribute5SharedName %></td>
    <td><%= product_living.Attribute5Label %></td>
    <td><%= product_living.Attribute5Values %></td>
    <td><%= product_living.Attribute5DisplayType %></td>
    <td><%= product_living.Attribute6SharedName %></td>
    <td><%= product_living.Attribute6Label %></td>
    <td><%= product_living.Attribute6Values %></td>
    <td><%= product_living.Attribute6DisplayType %></td>
    <td><%= product_living.Attribute7SharedName %></td>
    <td><%= product_living.Attribute7Label %></td>
    <td><%= product_living.Attribute7Values %></td>
    <td><%= product_living.Attribute7DisplayType %></td>
    <td><%= product_living.Attribute8SharedName %></td>
    <td><%= product_living.Attribute8Label %></td>
    <td><%= product_living.Attribute8Values %></td>
    <td><%= product_living.Attribute8DisplayType %></td>
    <td><%= product_living.Attribute9SharedName %></td>
    <td><%= product_living.Attribute9Label %></td>
    <td><%= product_living.Attribute9Values %></td>
    <td><%= product_living.Attribute9DisplayType %></td>
    <td><%= product_living.Attribute10Label %></td>
    <td><%= product_living.Attribute10Values %></td>
    <td><%= product_living.Attribute10DisplayType %></td>
    <td><%= product_living.MediaItem1 %></td>
    <td><%= product_living.MediaItem2 %></td>
    <td><%= product_living.MediaItem3 %></td>
    <td><%= product_living.MediaItem4 %></td>
    <td><%= product_living.MediaItem5 %></td>
    <td><%= product_living.MediaItem6 %></td>
    <td><%= product_living.MediaItem7 %></td>
    <td><%= product_living.MediaItem8 %></td>
    <td><%= product_living.MediaItem9 %></td>
    <td><%= product_living.MediaItem10 %></td>
    <td><%= product_living.MediaItem11 %></td>
    <td><%= product_living.MediaItem12 %></td>
    <td><%= product_living.MediaItem13 %></td>
    <td><%= product_living.MediaItem14 %></td>
    <td><%= product_living.MediaItem15 %></td>
    <td><%= product_living.MediaItem16 %></td>
    <td><%= product_living.thumb_number %></td>
    <td><%= product_living.post_status %></td>
    <td><%= product_living.createdtime %></td>
    <td><%= product_living.updatedtime %></td>
    <td><%= product_living.puplictime %></td>
    <td><%= product_living.drafts %></td>
    <td><%= product_living.starttime %></td>
    <td><%= product_living.endtime %></td>
    <td><%= product_living.ContainerLoad %></td>
    <td><%= product_living.EstimatedArrival %></td>
    <td><%= product_living.DaysReturnPolicy %></td>
    <td><%= product_living.CompareSite1 %></td>
    <td><%= product_living.CompareValue1 %></td>
    <td><%= product_living.CompareLink1 %></td>
    <td><%= product_living.CompareSite2 %></td>
    <td><%= product_living.CompareValue2 %></td>
    <td><%= product_living.CompareLink2 %></td>
    <td><%= product_living.CompareSite3 %></td>
    <td><%= product_living.CompareValue3 %></td>
    <td><%= product_living.CompareLink3 %></td>
    <td><%= product_living.ShipFrom %></td>
    <td><%= product_living.ShipWithin %></td>
    <td><%= product_living.OptionName1 %></td>
    <td><%= product_living.OptionValues1 %></td>
    <td><%= product_living.OptionName2 %></td>
    <td><%= product_living.OptionValues2 %></td>
    <td><%= product_living.OptionName3 %></td>
    <td><%= product_living.OptionValues3 %></td>
    <td><%= product_living.ViewCatalog %></td>
    <td><%= product_living.InSaleEvent %></td>
    <td><%= product_living.Note %></td>
    <td><%= product_living.Customsize %></td>
    <td><%= product_living.OptionImages %></td>
    <td><%= product_living.flashsale %></td>
    <td><%= product_living.is_iphone5_case %></td>
    <td><%= product_living.MetaDescription %></td>
    <td><%= product_living.SeoUrl %></td>
    <td><%= product_living.TitleSeo %></td>
    <td><%= product_living.shipexpress %></td>
    <td><%= product_living.isDeal %></td>
    <td><%= product_living.state %></td>
    <td><%= product_living.EstimatedArrival2 %></td>
    <td><%= product_living.SpecificationsTitle %></td>
    <td><%= product_living.ShippingTitle %></td>
    <td><%= product_living.IsFreight %></td>
    <td><%= product_living.Lenght1 %></td>
    <td><%= product_living.Lenght2 %></td>
    <td><%= product_living.Lenght3 %></td>
    <td><%= product_living.Lenght4 %></td>
    <td><%= product_living.Lenght5 %></td>
    <td><%= product_living.Height1 %></td>
    <td><%= product_living.Height2 %></td>
    <td><%= product_living.Height3 %></td>
    <td><%= product_living.Height4 %></td>
    <td><%= product_living.Height5 %></td>
    <td><%= product_living.Width1 %></td>
    <td><%= product_living.Width2 %></td>
    <td><%= product_living.Width3 %></td>
    <td><%= product_living.Width4 %></td>
    <td><%= product_living.Width5 %></td>
    <td><%= product_living.Weight1 %></td>
    <td><%= product_living.Weight2 %></td>
    <td><%= product_living.Weight3 %></td>
    <td><%= product_living.Weight4 %></td>
    <td><%= product_living.Weight5 %></td>
    <td><%= product_living.sort %></td>
    <td><%= product_living.visible %></td>
    <td><%= product_living.Hightline %></td>
    <td><%= product_living.warranty %></td>
    <td><%= product_living.tag_color %></td>
    <td><%= product_living.ShipingFedex %></td>
    <td><%= product_living.OptionCost %></td>
    <td><%= product_living.DropShip %></td>
    <td><%= product_living.export_dropship %></td>
    <td><%= product_living.InternetDistribution %></td>
    <td><%= product_living.DropShipFree %></td>
    <td><%= product_living.FileUpload %></td>
    <td><%= product_living.submitted_product %></td>
    <td><%= product_living.export_beba %></td>
    <td><%= product_living.export_banbeba %></td>
    <td><%= product_living.CategorySears %></td>
    <td><%= product_living.request_user %></td>
    <td><%= link_to 'Show', product_living %></td>
    <td><%= link_to 'Edit', edit_product_living_path(product_living) %></td>
    <td><%= link_to 'Destroy', product_living, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product living', new_product_living_path %>
