<p id="notice"><%= notice %></p>

<p>
  <b>Productno:</b>
  <%= @product_living.ProductNo %>
</p>

<p>
  <b>Product:</b>
  <%= @product_living.Product %>
</p>

<p>
  <b>Sku:</b>
  <%= @product_living.SKU %>
</p>

<p>
  <b>Oem:</b>
  <%= @product_living.Oem %>
</p>

<p>
  <b>Supplier:</b>
  <%= @product_living.Supplier %>
</p>

<p>
  <b>Producttype:</b>
  <%= @product_living.ProductType %>
</p>

<p>
  <b>Price:</b>
  <%= @product_living.Price %>
</p>

<p>
  <b>Priceretail:</b>
  <%= @product_living.PriceRetail %>
</p>

<p>
  <b>Pricewithoutshipping:</b>
  <%= @product_living.PriceWithoutShipping %>
</p>

<p>
  <b>Cost:</b>
  <%= @product_living.Cost %>
</p>

<p>
  <b>Map:</b>
  <%= @product_living.Map %>
</p>

<p>
  <b>Taxable:</b>
  <%= @product_living.Taxable %>
</p>

<p>
  <b>Surcharge:</b>
  <%= @product_living.Surcharge %>
</p>

<p>
  <b>Surchargetitle:</b>
  <%= @product_living.SurchargeTitle %>
</p>

<p>
  <b>Shipping:</b>
  <%= @product_living.Shipping %>
</p>

<p>
  <b>Shipping2:</b>
  <%= @product_living.Shipping2 %>
</p>

<p>
  <b>Shippingexemptind:</b>
  <%= @product_living.ShippingExemptInd %>
</p>

<p>
  <b>Saleexclude:</b>
  <%= @product_living.SaleExclude %>
</p>

<p>
  <b>Quantity:</b>
  <%= @product_living.Quantity %>
</p>

<p>
  <b>Unit:</b>
  <%= @product_living.Unit %>
</p>

<p>
  <b>Itemperpackage:</b>
  <%= @product_living.ItemPerPackage %>
</p>

<p>
  <b>Threshold:</b>
  <%= @product_living.Threshold %>
</p>

<p>
  <b>Weight:</b>
  <%= @product_living.Weight %>
</p>

<p>
  <b>Length:</b>
  <%= @product_living.Length %>
</p>

<p>
  <b>Height:</b>
  <%= @product_living.Height %>
</p>

<p>
  <b>Width:</b>
  <%= @product_living.Width %>
</p>

<p>
  <b>Itemlength:</b>
  <%= @product_living.ItemLength %>
</p>

<p>
  <b>Itemheight:</b>
  <%= @product_living.ItemHeight %>
</p>

<p>
  <b>Itemwidth:</b>
  <%= @product_living.ItemWidth %>
</p>

<p>
  <b>Itemweight:</b>
  <%= @product_living.ItemWeight %>
</p>

<p>
  <b>Containercode:</b>
  <%= @product_living.ContainerCode %>
</p>

<p>
  <b>Brief:</b>
  <%= @product_living.Brief %>
</p>

<p>
  <b>Description:</b>
  <%= @product_living.Description %>
</p>

<p>
  <b>Subscription:</b>
  <%= @product_living.Subscription %>
</p>

<p>
  <b>Template:</b>
  <%= @product_living.Template %>
</p>

<p>
  <b>Listingtemplate:</b>
  <%= @product_living.ListingTemplate %>
</p>

<p>
  <b>Highlight1:</b>
  <%= @product_living.HighLight1 %>
</p>

<p>
  <b>Highlight2:</b>
  <%= @product_living.HighLight2 %>
</p>

<p>
  <b>Highlight3:</b>
  <%= @product_living.HighLight3 %>
</p>

<p>
  <b>Highlight4:</b>
  <%= @product_living.HighLight4 %>
</p>

<p>
  <b>Highlight5:</b>
  <%= @product_living.HighLight5 %>
</p>

<p>
  <b>Highlight6:</b>
  <%= @product_living.HighLight6 %>
</p>

<p>
  <b>Highlight7:</b>
  <%= @product_living.HighLight7 %>
</p>

<p>
  <b>Highlight8:</b>
  <%= @product_living.HighLight8 %>
</p>

<p>
  <b>Active:</b>
  <%= @product_living.Active %>
</p>

<p>
  <b>Authreq:</b>
  <%= @product_living.AuthReq %>
</p>

<p>
  <b>Isbn:</b>
  <%= @product_living.Isbn %>
</p>

<p>
  <b>Brand:</b>
  <%= @product_living.Brand %>
</p>

<p>
  <b>Mpn:</b>
  <%= @product_living.Mpn %>
</p>

<p>
  <b>Upc:</b>
  <%= @product_living.Upc %>
</p>

<p>
  <b>Ean:</b>
  <%= @product_living.Ean %>
</p>

<p>
  <b>Ebayproductid:</b>
  <%= @product_living.eBayProductId %>
</p>

<p>
  <b>Productreferenceid:</b>
  <%= @product_living.ProductReferenceId %>
</p>

<p>
  <b>Condition:</b>
  <%= @product_living.Condition %>
</p>

<p>
  <b>Media:</b>
  <%= @product_living.Media %>
</p>

<p>
  <b>Naturalsearchkeywords:</b>
  <%= @product_living.NaturalSearchKeywords %>
</p>

<p>
  <b>Naturalsearchdescription:</b>
  <%= @product_living.NaturalSearchDescription %>
</p>

<p>
  <b>Category:</b>
  <%= @product_living.Category %>
</p>

<p>
  <b>Category2:</b>
  <%= @product_living.Category2 %>
</p>

<p>
  <b>Category3:</b>
  <%= @product_living.Category3 %>
</p>

<p>
  <b>Keywords:</b>
  <%= @product_living.Keywords %>
</p>

<p>
  <b>Googlecategory:</b>
  <%= @product_living.GoogleCategory %>
</p>

<p>
  <b>Googleagegroup:</b>
  <%= @product_living.GoogleAgeGroup %>
</p>

<p>
  <b>Googlegender:</b>
  <%= @product_living.GoogleGender %>
</p>

<p>
  <b>Attribute1sharedname:</b>
  <%= @product_living.Attribute1SharedName %>
</p>

<p>
  <b>Attribute1label:</b>
  <%= @product_living.Attribute1Label %>
</p>

<p>
  <b>Attribute1values:</b>
  <%= @product_living.Attribute1Values %>
</p>

<p>
  <b>Attribute1displaytype:</b>
  <%= @product_living.Attribute1DisplayType %>
</p>

<p>
  <b>Attribute2sharedname:</b>
  <%= @product_living.Attribute2SharedName %>
</p>

<p>
  <b>Attribute2label:</b>
  <%= @product_living.Attribute2Label %>
</p>

<p>
  <b>Attribute2values:</b>
  <%= @product_living.Attribute2Values %>
</p>

<p>
  <b>Attribute2displaytype:</b>
  <%= @product_living.Attribute2DisplayType %>
</p>

<p>
  <b>Attribute3sharedname:</b>
  <%= @product_living.Attribute3SharedName %>
</p>

<p>
  <b>Attribute3label:</b>
  <%= @product_living.Attribute3Label %>
</p>

<p>
  <b>Attribute3values:</b>
  <%= @product_living.Attribute3Values %>
</p>

<p>
  <b>Attribute3displaytype:</b>
  <%= @product_living.Attribute3DisplayType %>
</p>

<p>
  <b>Attribute4sharedname:</b>
  <%= @product_living.Attribute4SharedName %>
</p>

<p>
  <b>Attribute4label:</b>
  <%= @product_living.Attribute4Label %>
</p>

<p>
  <b>Attribute4values:</b>
  <%= @product_living.Attribute4Values %>
</p>

<p>
  <b>Attribute4displaytype:</b>
  <%= @product_living.Attribute4DisplayType %>
</p>

<p>
  <b>Attribute5sharedname:</b>
  <%= @product_living.Attribute5SharedName %>
</p>

<p>
  <b>Attribute5label:</b>
  <%= @product_living.Attribute5Label %>
</p>

<p>
  <b>Attribute5values:</b>
  <%= @product_living.Attribute5Values %>
</p>

<p>
  <b>Attribute5displaytype:</b>
  <%= @product_living.Attribute5DisplayType %>
</p>

<p>
  <b>Attribute6sharedname:</b>
  <%= @product_living.Attribute6SharedName %>
</p>

<p>
  <b>Attribute6label:</b>
  <%= @product_living.Attribute6Label %>
</p>

<p>
  <b>Attribute6values:</b>
  <%= @product_living.Attribute6Values %>
</p>

<p>
  <b>Attribute6displaytype:</b>
  <%= @product_living.Attribute6DisplayType %>
</p>

<p>
  <b>Attribute7sharedname:</b>
  <%= @product_living.Attribute7SharedName %>
</p>

<p>
  <b>Attribute7label:</b>
  <%= @product_living.Attribute7Label %>
</p>

<p>
  <b>Attribute7values:</b>
  <%= @product_living.Attribute7Values %>
</p>

<p>
  <b>Attribute7displaytype:</b>
  <%= @product_living.Attribute7DisplayType %>
</p>

<p>
  <b>Attribute8sharedname:</b>
  <%= @product_living.Attribute8SharedName %>
</p>

<p>
  <b>Attribute8label:</b>
  <%= @product_living.Attribute8Label %>
</p>

<p>
  <b>Attribute8values:</b>
  <%= @product_living.Attribute8Values %>
</p>

<p>
  <b>Attribute8displaytype:</b>
  <%= @product_living.Attribute8DisplayType %>
</p>

<p>
  <b>Attribute9sharedname:</b>
  <%= @product_living.Attribute9SharedName %>
</p>

<p>
  <b>Attribute9label:</b>
  <%= @product_living.Attribute9Label %>
</p>

<p>
  <b>Attribute9values:</b>
  <%= @product_living.Attribute9Values %>
</p>

<p>
  <b>Attribute9displaytype:</b>
  <%= @product_living.Attribute9DisplayType %>
</p>

<p>
  <b>Attribute10label:</b>
  <%= @product_living.Attribute10Label %>
</p>

<p>
  <b>Attribute10values:</b>
  <%= @product_living.Attribute10Values %>
</p>

<p>
  <b>Attribute10displaytype:</b>
  <%= @product_living.Attribute10DisplayType %>
</p>

<p>
  <b>Mediaitem1:</b>
  <%= @product_living.MediaItem1 %>
</p>

<p>
  <b>Mediaitem2:</b>
  <%= @product_living.MediaItem2 %>
</p>

<p>
  <b>Mediaitem3:</b>
  <%= @product_living.MediaItem3 %>
</p>

<p>
  <b>Mediaitem4:</b>
  <%= @product_living.MediaItem4 %>
</p>

<p>
  <b>Mediaitem5:</b>
  <%= @product_living.MediaItem5 %>
</p>

<p>
  <b>Mediaitem6:</b>
  <%= @product_living.MediaItem6 %>
</p>

<p>
  <b>Mediaitem7:</b>
  <%= @product_living.MediaItem7 %>
</p>

<p>
  <b>Mediaitem8:</b>
  <%= @product_living.MediaItem8 %>
</p>

<p>
  <b>Mediaitem9:</b>
  <%= @product_living.MediaItem9 %>
</p>

<p>
  <b>Mediaitem10:</b>
  <%= @product_living.MediaItem10 %>
</p>

<p>
  <b>Mediaitem11:</b>
  <%= @product_living.MediaItem11 %>
</p>

<p>
  <b>Mediaitem12:</b>
  <%= @product_living.MediaItem12 %>
</p>

<p>
  <b>Mediaitem13:</b>
  <%= @product_living.MediaItem13 %>
</p>

<p>
  <b>Mediaitem14:</b>
  <%= @product_living.MediaItem14 %>
</p>

<p>
  <b>Mediaitem15:</b>
  <%= @product_living.MediaItem15 %>
</p>

<p>
  <b>Mediaitem16:</b>
  <%= @product_living.MediaItem16 %>
</p>

<p>
  <b>Thumb number:</b>
  <%= @product_living.thumb_number %>
</p>

<p>
  <b>Post status:</b>
  <%= @product_living.post_status %>
</p>

<p>
  <b>Createdtime:</b>
  <%= @product_living.createdtime %>
</p>

<p>
  <b>Updatedtime:</b>
  <%= @product_living.updatedtime %>
</p>

<p>
  <b>Puplictime:</b>
  <%= @product_living.puplictime %>
</p>

<p>
  <b>Drafts:</b>
  <%= @product_living.drafts %>
</p>

<p>
  <b>Starttime:</b>
  <%= @product_living.starttime %>
</p>

<p>
  <b>Endtime:</b>
  <%= @product_living.endtime %>
</p>

<p>
  <b>Containerload:</b>
  <%= @product_living.ContainerLoad %>
</p>

<p>
  <b>Estimatedarrival:</b>
  <%= @product_living.EstimatedArrival %>
</p>

<p>
  <b>Daysreturnpolicy:</b>
  <%= @product_living.DaysReturnPolicy %>
</p>

<p>
  <b>Comparesite1:</b>
  <%= @product_living.CompareSite1 %>
</p>

<p>
  <b>Comparevalue1:</b>
  <%= @product_living.CompareValue1 %>
</p>

<p>
  <b>Comparelink1:</b>
  <%= @product_living.CompareLink1 %>
</p>

<p>
  <b>Comparesite2:</b>
  <%= @product_living.CompareSite2 %>
</p>

<p>
  <b>Comparevalue2:</b>
  <%= @product_living.CompareValue2 %>
</p>

<p>
  <b>Comparelink2:</b>
  <%= @product_living.CompareLink2 %>
</p>

<p>
  <b>Comparesite3:</b>
  <%= @product_living.CompareSite3 %>
</p>

<p>
  <b>Comparevalue3:</b>
  <%= @product_living.CompareValue3 %>
</p>

<p>
  <b>Comparelink3:</b>
  <%= @product_living.CompareLink3 %>
</p>

<p>
  <b>Shipfrom:</b>
  <%= @product_living.ShipFrom %>
</p>

<p>
  <b>Shipwithin:</b>
  <%= @product_living.ShipWithin %>
</p>

<p>
  <b>Optionname1:</b>
  <%= @product_living.OptionName1 %>
</p>

<p>
  <b>Optionvalues1:</b>
  <%= @product_living.OptionValues1 %>
</p>

<p>
  <b>Optionname2:</b>
  <%= @product_living.OptionName2 %>
</p>

<p>
  <b>Optionvalues2:</b>
  <%= @product_living.OptionValues2 %>
</p>

<p>
  <b>Optionname3:</b>
  <%= @product_living.OptionName3 %>
</p>

<p>
  <b>Optionvalues3:</b>
  <%= @product_living.OptionValues3 %>
</p>

<p>
  <b>Viewcatalog:</b>
  <%= @product_living.ViewCatalog %>
</p>

<p>
  <b>Insaleevent:</b>
  <%= @product_living.InSaleEvent %>
</p>

<p>
  <b>Note:</b>
  <%= @product_living.Note %>
</p>

<p>
  <b>Customsize:</b>
  <%= @product_living.Customsize %>
</p>

<p>
  <b>Optionimages:</b>
  <%= @product_living.OptionImages %>
</p>

<p>
  <b>Flashsale:</b>
  <%= @product_living.flashsale %>
</p>

<p>
  <b>Is iphone5 case:</b>
  <%= @product_living.is_iphone5_case %>
</p>

<p>
  <b>Metadescription:</b>
  <%= @product_living.MetaDescription %>
</p>

<p>
  <b>Seourl:</b>
  <%= @product_living.SeoUrl %>
</p>

<p>
  <b>Titleseo:</b>
  <%= @product_living.TitleSeo %>
</p>

<p>
  <b>Shipexpress:</b>
  <%= @product_living.shipexpress %>
</p>

<p>
  <b>Isdeal:</b>
  <%= @product_living.isDeal %>
</p>

<p>
  <b>State:</b>
  <%= @product_living.state %>
</p>

<p>
  <b>Estimatedarrival2:</b>
  <%= @product_living.EstimatedArrival2 %>
</p>

<p>
  <b>Specificationstitle:</b>
  <%= @product_living.SpecificationsTitle %>
</p>

<p>
  <b>Shippingtitle:</b>
  <%= @product_living.ShippingTitle %>
</p>

<p>
  <b>Isfreight:</b>
  <%= @product_living.IsFreight %>
</p>

<p>
  <b>Lenght1:</b>
  <%= @product_living.Lenght1 %>
</p>

<p>
  <b>Lenght2:</b>
  <%= @product_living.Lenght2 %>
</p>

<p>
  <b>Lenght3:</b>
  <%= @product_living.Lenght3 %>
</p>

<p>
  <b>Lenght4:</b>
  <%= @product_living.Lenght4 %>
</p>

<p>
  <b>Lenght5:</b>
  <%= @product_living.Lenght5 %>
</p>

<p>
  <b>Height1:</b>
  <%= @product_living.Height1 %>
</p>

<p>
  <b>Height2:</b>
  <%= @product_living.Height2 %>
</p>

<p>
  <b>Height3:</b>
  <%= @product_living.Height3 %>
</p>

<p>
  <b>Height4:</b>
  <%= @product_living.Height4 %>
</p>

<p>
  <b>Height5:</b>
  <%= @product_living.Height5 %>
</p>

<p>
  <b>Width1:</b>
  <%= @product_living.Width1 %>
</p>

<p>
  <b>Width2:</b>
  <%= @product_living.Width2 %>
</p>

<p>
  <b>Width3:</b>
  <%= @product_living.Width3 %>
</p>

<p>
  <b>Width4:</b>
  <%= @product_living.Width4 %>
</p>

<p>
  <b>Width5:</b>
  <%= @product_living.Width5 %>
</p>

<p>
  <b>Weight1:</b>
  <%= @product_living.Weight1 %>
</p>

<p>
  <b>Weight2:</b>
  <%= @product_living.Weight2 %>
</p>

<p>
  <b>Weight3:</b>
  <%= @product_living.Weight3 %>
</p>

<p>
  <b>Weight4:</b>
  <%= @product_living.Weight4 %>
</p>

<p>
  <b>Weight5:</b>
  <%= @product_living.Weight5 %>
</p>

<p>
  <b>Sort:</b>
  <%= @product_living.sort %>
</p>

<p>
  <b>Visible:</b>
  <%= @product_living.visible %>
</p>

<p>
  <b>Hightline:</b>
  <%= @product_living.Hightline %>
</p>

<p>
  <b>Warranty:</b>
  <%= @product_living.warranty %>
</p>

<p>
  <b>Tag color:</b>
  <%= @product_living.tag_color %>
</p>

<p>
  <b>Shipingfedex:</b>
  <%= @product_living.ShipingFedex %>
</p>

<p>
  <b>Optioncost:</b>
  <%= @product_living.OptionCost %>
</p>

<p>
  <b>Dropship:</b>
  <%= @product_living.DropShip %>
</p>

<p>
  <b>Export dropship:</b>
  <%= @product_living.export_dropship %>
</p>

<p>
  <b>Internetdistribution:</b>
  <%= @product_living.InternetDistribution %>
</p>

<p>
  <b>Dropshipfree:</b>
  <%= @product_living.DropShipFree %>
</p>

<p>
  <b>Fileupload:</b>
  <%= @product_living.FileUpload %>
</p>

<p>
  <b>Submitted product:</b>
  <%= @product_living.submitted_product %>
</p>

<p>
  <b>Export beba:</b>
  <%= @product_living.export_beba %>
</p>

<p>
  <b>Export banbeba:</b>
  <%= @product_living.export_banbeba %>
</p>

<p>
  <b>Categorysears:</b>
  <%= @product_living.CategorySears %>
</p>

<p>
  <b>Request user:</b>
  <%= @product_living.request_user %>
</p>


<%= link_to 'Edit', edit_product_living_path(@product_living) %> |
<%= link_to 'Back', product_living_path %>
