<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user.user_id %>
</p>

<p>
  <b>User name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>User email:</b>
  <%= @user.user_email %>
</p>

<p>
  <b>User avatar:</b>
  <%= @user.user_avatar %>
</p>

<p>
  <b>User cover image:</b>
  <%= @user.user_cover_image %>
</p>

<p>
  <b>User full name:</b>
  <%= @user.user_full_name %>
</p>

<p>
  <b>User birthday:</b>
  <%= @user.user_birthday %>
</p>

<p>
  <b>User pass:</b>
  <%= @user.user_pass %>
</p>

<p>
  <b>User street:</b>
  <%= @user.user_street %>
</p>

<p>
  <b>User city:</b>
  <%= @user.user_city %>
</p>

<p>
  <b>User state:</b>
  <%= @user.user_state %>
</p>

<p>
  <b>User zip:</b>
  <%= @user.user_zip %>
</p>

<p>
  <b>User country:</b>
  <%= @user.user_country %>
</p>

<p>
  <b>User phone:</b>
  <%= @user.user_phone %>
</p>

<p>
  <b>User company:</b>
  <%= @user.user_company %>
</p>

<p>
  <b>User fax:</b>
  <%= @user.user_fax %>
</p>

<p>
  <b>User url:</b>
  <%= @user.user_url %>
</p>

<p>
  <b>Long:</b>
  <%= @user.long %>
</p>

<p>
  <b>Lat:</b>
  <%= @user.lat %>
</p>

<p>
  <b>Formataddress:</b>
  <%= @user.formataddress %>
</p>

<p>
  <b>User note:</b>
  <%= @user.user_note %>
</p>

<p>
  <b>Fb:</b>
  <%= @user.fb_id %>
</p>

<p>
  <b>From source ads:</b>
  <%= @user.from_source_ads %>
</p>

<p>
  <b>Fb access key:</b>
  <%= @user.fb_access_key %>
</p>

<p>
  <b>Linkedin:</b>
  <%= @user.linkedin_id %>
</p>

<p>
  <b>User created time:</b>
  <%= @user.user_created_time %>
</p>

<p>
  <b>User bucks:</b>
  <%= @user.user_bucks %>
</p>

<p>
  <b>User free buck:</b>
  <%= @user.user_free_buck %>
</p>

<p>
  <b>User rf from:</b>
  <%= @user.user_rf_from %>
</p>

<p>
  <b>Earnbyfb:</b>
  <%= @user.earnbyfb %>
</p>

<p>
  <b>Earnbytw:</b>
  <%= @user.earnbytw %>
</p>

<p>
  <b>Earnbyfollow:</b>
  <%= @user.earnbyfollow %>
</p>

<p>
  <b>Oauth token:</b>
  <%= @user.oauth_token %>
</p>

<p>
  <b>Oauth token secret:</b>
  <%= @user.oauth_token_secret %>
</p>

<p>
  <b>Tw:</b>
  <%= @user.tw_id %>
</p>

<p>
  <b>Tw name:</b>
  <%= @user.tw_name %>
</p>

<p>
  <b>Ip:</b>
  <%= @user.ip %>
</p>

<p>
  <b>User type:</b>
  <%= @user.user_type %>
</p>

<p>
  <b>Isfeature:</b>
  <%= @user.isFeature %>
</p>

<p>
  <b>Business name:</b>
  <%= @user.business_name %>
</p>

<p>
  <b>Tax:</b>
  <%= @user.tax_id %>
</p>

<p>
  <b>User company address:</b>
  <%= @user.user_company_address %>
</p>

<p>
  <b>User company city:</b>
  <%= @user.user_company_city %>
</p>

<p>
  <b>User company state:</b>
  <%= @user.user_company_state %>
</p>

<p>
  <b>User company zip:</b>
  <%= @user.user_company_zip %>
</p>

<p>
  <b>User company country:</b>
  <%= @user.user_company_country %>
</p>

<p>
  <b>User warehouse address:</b>
  <%= @user.user_warehouse_address %>
</p>

<p>
  <b>User warehouse city:</b>
  <%= @user.user_warehouse_city %>
</p>

<p>
  <b>User warehouse state:</b>
  <%= @user.user_warehouse_state %>
</p>

<p>
  <b>User warehouse zip:</b>
  <%= @user.user_warehouse_zip %>
</p>

<p>
  <b>User warehouse country:</b>
  <%= @user.user_warehouse_country %>
</p>

<p>
  <b>User shipping lead time:</b>
  <%= @user.user_shipping_lead_time %>
</p>

<p>
  <b>User have dropship:</b>
  <%= @user.user_have_dropship %>
</p>

<p>
  <b>User provide inventory updates:</b>
  <%= @user.user_provide_inventory_updates %>
</p>

<p>
  <b>User is a:</b>
  <%= @user.user_is_a %>
</p>

<p>
  <b>User target price range:</b>
  <%= @user.user_target_price_range %>
</p>

<p>
  <b>User looking for:</b>
  <%= @user.user_looking_for %>
</p>

<p>
  <b>User job title:</b>
  <%= @user.user_job_title %>
</p>

<p>
  <b>User about you:</b>
  <%= @user.user_about_you %>
</p>

<p>
  <b>Send mail claim:</b>
  <%= @user.send_mail_claim %>
</p>

<p>
  <b>Time send mail claim:</b>
  <%= @user.time_send_mail_claim %>
</p>

<p>
  <b>Store active:</b>
  <%= @user.store_active %>
</p>

<p>
  <b>Store name:</b>
  <%= @user.store_name %>
</p>

<p>
  <b>Store description:</b>
  <%= @user.store_description %>
</p>

<p>
  <b>Store avatar:</b>
  <%= @user.store_avatar %>
</p>

<p>
  <b>Store cover image:</b>
  <%= @user.store_cover_image %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
