<p id="notice"><%= notice %></p>

<p>
  <b>Categoryid:</b>
  <%= @category.CategoryID %>
</p>

<p>
  <b>Categoryname:</b>
  <%= @category.CategoryName %>
</p>

<p>
  <b>Ranking:</b>
  <%= @category.Ranking %>
</p>

<p>
  <b>Parentid:</b>
  <%= @category.ParentID %>
</p>

<p>
  <b>Haschildren:</b>
  <%= @category.HasChildren %>
</p>

<p>
  <b>Status:</b>
  <%= @category.Status %>
</p>

<p>
  <b>Description:</b>
  <%= @category.Description %>
</p>

<p>
  <b>Languageid:</b>
  <%= @category.LanguageID %>
</p>

<p>
  <b>Icon:</b>
  <%= @category.Icon %>
</p>

<p>
  <b>Hasdeal:</b>
  <%= @category.HasDeal %>
</p>

<p>
  <b>Seourl:</b>
  <%= @category.Seourl %>
</p>

<p>
  <b>Title:</b>
  <%= @category.Title %>
</p>

<p>
  <b>Descriptiontag:</b>
  <%= @category.DescriptionTag %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @category.Manufacturer %>
</p>

<p>
  <b>Metakeywords:</b>
  <%= @category.MetaKeywords %>
</p>

<p>
  <b>Metapagetopic:</b>
  <%= @category.MetaPageTopic %>
</p>

<p>
  <b>Metageoregion:</b>
  <%= @category.MetaGeoRegion %>
</p>

<p>
  <b>Metageoplacename:</b>
  <%= @category.MetaGeoPlaceName %>
</p>

<p>
  <b>Descriptionmain:</b>
  <%= @category.DescriptionMain %>
</p>

<p>
  <b>Titlep:</b>
  <%= @category.TitleP %>
</p>

<p>
  <b>Descriptionmainp:</b>
  <%= @category.DescriptionMainP %>
</p>

<p>
  <b>Fromuser:</b>
  <%= @category.FromUser %>
</p>

<p>
  <b>Updatedtime:</b>
  <%= @category.updatedtime %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
