<p id="notice"><%= notice %></p>

<p>
  <b>Supplierid:</b>
  <%= @supplier.SupplierID %>
</p>

<p>
  <b>Saleevent name:</b>
  <%= @supplier.SaleEvent_Name %>
</p>

<p>
  <b>Saleevent intro:</b>
  <%= @supplier.SaleEvent_Intro %>
</p>

<p>
  <b>Supplier description:</b>
  <%= @supplier.Supplier_description %>
</p>

<p>
  <b>Supplier:</b>
  <%= @supplier.Supplier %>
</p>

<p>
  <b>Saleevent description:</b>
  <%= @supplier.SaleEvent_Description %>
</p>

<p>
  <b>Contact:</b>
  <%= @supplier.Contact %>
</p>

<p>
  <b>Street:</b>
  <%= @supplier.Street %>
</p>

<p>
  <b>Street2:</b>
  <%= @supplier.Street2 %>
</p>

<p>
  <b>City:</b>
  <%= @supplier.City %>
</p>

<p>
  <b>State:</b>
  <%= @supplier.State %>
</p>

<p>
  <b>Zip:</b>
  <%= @supplier.Zip %>
</p>

<p>
  <b>Country:</b>
  <%= @supplier.Country %>
</p>

<p>
  <b>Phone:</b>
  <%= @supplier.Phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @supplier.Fax %>
</p>

<p>
  <b>Email:</b>
  <%= @supplier.Email %>
</p>

<p>
  <b>Url:</b>
  <%= @supplier.URL %>
</p>

<p>
  <b>Sendmethod:</b>
  <%= @supplier.SendMethod %>
</p>

<p>
  <b>Sendgroup:</b>
  <%= @supplier.SendGroup %>
</p>

<p>
  <b>Sendtemplate:</b>
  <%= @supplier.SendTemplate %>
</p>

<p>
  <b>Sendship:</b>
  <%= @supplier.SendShip %>
</p>

<p>
  <b>Suffix:</b>
  <%= @supplier.Suffix %>
</p>

<p>
  <b>Suffixind:</b>
  <%= @supplier.SuffixInd %>
</p>

<p>
  <b>Long:</b>
  <%= @supplier.long %>
</p>

<p>
  <b>Lat:</b>
  <%= @supplier.lat %>
</p>

<p>
  <b>Formataddress:</b>
  <%= @supplier.formataddress %>
</p>

<p>
  <b>Pickup:</b>
  <%= @supplier.pickup %>
</p>

<p>
  <b>Saleevent title:</b>
  <%= @supplier.SaleEvent_Title %>
</p>

<p>
  <b>Saleevent text:</b>
  <%= @supplier.SaleEvent_Text %>
</p>

<p>
  <b>Saleevent quotetext:</b>
  <%= @supplier.SaleEvent_QuoteText %>
</p>

<p>
  <b>Saleevent quotename:</b>
  <%= @supplier.SaleEvent_Quotename %>
</p>

<p>
  <b>Saleevent avatar:</b>
  <%= @supplier.SaleEvent_Avatar %>
</p>

<p>
  <b>Saleevent image:</b>
  <%= @supplier.SaleEvent_Image %>
</p>

<p>
  <b>Saleevent thumb:</b>
  <%= @supplier.SaleEvent_Thumb %>
</p>

<p>
  <b>Updatenow:</b>
  <%= @supplier.updatenow %>
</p>

<p>
  <b>Updatedtime:</b>
  <%= @supplier.updatedtime %>
</p>

<p>
  <b>Isfeature:</b>
  <%= @supplier.isfeature %>
</p>

<p>
  <b>Payment method:</b>
  <%= @supplier.payment_method %>
</p>

<p>
  <b>User:</b>
  <%= @supplier.user_id %>
</p>

<p>
  <b>Price:</b>
  <%= @supplier.Price %>
</p>

<p>
  <b>Design:</b>
  <%= @supplier.Design %>
</p>

<p>
  <b>Inventory:</b>
  <%= @supplier.Inventory %>
</p>

<p>
  <b>Category:</b>
  <%= @supplier.Category %>
</p>

<p>
  <b>Shipping lead time:</b>
  <%= @supplier.shipping_lead_time %>
</p>

<p>
  <b>Sell type:</b>
  <%= @supplier.sell_type %>
</p>

<p>
  <b>Claimed:</b>
  <%= @supplier.claimed %>
</p>

<p>
  <b>Supplier note:</b>
  <%= @supplier.Supplier_Note %>
</p>

<p>
  <b>Internetexposure:</b>
  <%= @supplier.InternetExposure %>
</p>

<p>
  <b>Internetpresence:</b>
  <%= @supplier.InternetPresence %>
</p>

<p>
  <b>For level:</b>
  <%= @supplier.for_level %>
</p>


<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
